<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>修改</title>
</head>
<body>
<body>
<form method="post" action="/user/update">
    编号：<input type="text" name="userid" th:value="${byid.userid}"><br>
    名字：<input type="text" name="username" th:value="${byid.username}"><br>
    部门：<input type="text" name="deptid" th:value="${byid.deptid}"><br>
    邮箱：<input type="text" name="email" th:value="${byid.email}"><br>
    电话：<input type="text" name="phonenum" th:value="${byid.phonenum}"><br>
    <!--状态：<input type="text" name="status" th:value="${byid.status}"><br>-->
    状态： <select name="status">
            <option value="1">已认证</option>
            <option value="2">未认证</option>
           </select>
    <input type="submit" value="提交"><br>
</form>
</body>
</body>
</html>